#modal-root {
  position: relative;
  z-index: 999;
}

.modal_styles {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
/* b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib */
.button_style {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;
  -webkit-appearance: none;
  font-weight: bold;
  display: inline-block;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transform: translate(1450%, 650%);
  z-index: 1000;
}
.button_style:hover {
  cursor: pointer;
}
.modal_styles2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
}
.overlay_styles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-close {
  font-size: 2rem;
  font-style: bold;
  cursor: pointer;
}
.modal-close:hover {
  color: grey;
  cursor: pointer;
}
